/*universal*/

* {
	font-size: 18px;
}

body {
	color: snow;
}

header {

}

section {

}

h2 {
	font-size: 3rem;
	color: snow;
}

h3 {
	font-size: 2rem;
	color: snow;
}


/*body grid*/


.bodycontainer {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 100px, repeat(10, 1fr), 100px;
	grid-template-areas:
			'n n n n n n'
			'h h h h h h'
			'a a a a a a'
			'in in in in in in'
			'ig ig ig ig ig ig'
			'm m m m m m'
			'm m m m m m'
			'm m m m m m'
			'm m m m m m'
			'm m m m m m'
			'm m m m m m'
			'f f f f f f';

}

.navigation {
	grid-area: n;
	grid-column: 1 / -1;
}

.headercontainer {
	grid-area: h;
	grid-column: 1 / -1;
}

.maincontent {
	grid area: m;
	grid-column: 1 / -1;
}

#aboutus {
	grid-area: a;
	grid-column: 1 / -1;
}

#inspiration {
	grid-area: in;
	grid-column: 1 / -1;
}

#ingredients {
	grid-area: ig;
	grid-column: 1 / -1;
}

/*.ingredientslist {
	grid-area: inl;
}*/

.products {
	grid-area: p;
}

.contactus {
	grid-area: cu;
}

.footer {
	grid-area: f;
	grid-column: 1 / -1;
	background-color: purple;
	color: black;
	justify-self: stretch;
}


/*navigation*/

.navigation {
	display: flex;
	text-decoration: none;
	justify-content: center;
	background-color: midnightblue;
	color: white;
	z-index: 100;
	position: relative;
	top: 0;
}

.navigation ul {
	display: flex;
	list-style-type: none;
	flex-direction: row;
}

.navigation li {
	padding: 1rem;
	font-size: 1.5rem;
}

/*header grid*/

.nestedhead {
	height: 100%;
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 10px;
	grid-template-areas:
			't t t t'
			'. i i .'
			'. i i .'
			'b b b b';
	background-color: lightblue;
	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
	justify-items: center;
}

header img {
	grid-area: i;
	justify-self: center;
	align-self: center;
}

.top {
	grid-area: t;
	font-size: 5rem;
	color: black;
	justify-self: center;
	align-self: center;
}

.bottom {
	grid-area: b;
	font-size: 5rem;
	color: black;
	justify-self: center;
	align-self: center;
}

/*aboutus*/

.nestedabout {
	height: 100%;
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-gap: 10px;
	grid-template-areas:
			'. au au .'
			'o o . .'
			'. . mi mi';

	justify-self: center;
	align-self: center;
	justify-content: space-around;
	background-color: darkcyan;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.title1 {
	grid-area: au;
	justify-self: center;
	align-self: top;
	grid-columns: 2 / 4;
}

.owned {
	grid-area: o;
	justify-self: center;
	align-self: top;
	padding: 20px;
}

.mission {
	grid-area: mi;
	justify-self: center;
	align-self: top;
	padding: 20px;
}

/*inspiration*/

.nestedinspire {
	height: 100%;
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 10px;
	grid-template-areas:
			'. ins ins .'
			'd d s s';

	background-color: cornflowerblue;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	/*display: flex;
	flex-direction: column;*/
}

.title2 {
	grid-area: ins;
	justify-self: center;
	align-self: top;
	grid-columns: 2 / 4;
}

.dogpics {
	grid-area: d;
	display: flex;
}

.story {
	grid-area: s;
	padding: 20px;
	/*text-align: center;
	width: 50%;*/
}

.karmapic, .juleppic {
	margin: 40px;
}
/*ingredients*/

.nestedingredients {
	height: 100%;
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 10px;
	grid-template-areas:
			'igd igd igd igd'
			'ty ty ty ty'
			'nl nl nl nl'
			'nl nl nl nl';

	background-color: darkslateblue;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}

.title3 {
	grid-area: igd;
	grid-column: 2 / 4;
	justify-self: center;
}

.types {
	grid-area: ty;
	grid-column: 2 / 4;
	justify-self: center;
}

/*ingredients list*/

.ingredientslist {
	display: flex;
	flex-wrap: wrap;
	grid-column: 1 / -1;

	/*grid-column: 1 / -1;*/
}

/*.nestedlist {
	grid-area: nl;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 10px;
	grid-template-areas:
			'ck ri ca po'
			'li be be .';

	background-color: darkslateblue;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}*/

.chicken-container {
	/*grid-area: ck;
	justify-self: center;*/
	padding: 20px;
}

.rice-container {
	/*grid-area: ri;
	justify-self: center;*/
	padding: 20px;
}

.carrot-container {
	/*grid-area: ca;
	justify-self: center;*/
	padding: 20px;
}

.potatoes-container {
	/*grid-area: po;
	justify-self: center;*/
	padding: 20px;
}

.liver-container {
	/*grid-area: li;
	justify-self: center;*/
	padding: 20px;
}

.bean-container {
	/*grid-area: be;
	justify-self: center;*/
	padding: 20px;
}

.beef-container {
	/*grid-area: bf;
	justify-self: center;*/
	padding: 20px;
}

.image-container {
	justify-content: center;
}

.image {
	align-self: center;
}

.description {
	text-align: center;
}

article {
	text-align: center;
}

aside .image-container {
	width: 200px;
	height: 200px;

}


/*products*/

#products {
	background-color: dodgerblue;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	margin-top: -50px;
}

.cats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cats .image-container {
	width: 200px;
	height: 200px;
	margin: 40px;
}

/*contactus*/

#contactus {
	background-color: lightslategray;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	width: 100%;
	margin-top: -50px;
}

/*footer*/
.footer p {

}
